extends tmpl/_layout

block vars
	- var pageId = 'catalog'
	-
		var breadcrumbs=[
			{href:'/',name:'Главная'},
			{href:'#',name:'Каталог'},
			{href:'#',name:'Здравоохранение'},
		];

block sidebar
	aside.sidebar.sidebar_thin
		.sidebar__top
			.sidebar__top-link
				a(href="#") Сведения об образовательной организации

			a(href="#").visually
				.visually__icon
					+svg('ic-eye','ic-eye', '22', '14')

		.sidebar__content
			.sidebar-info
				.sidebar-info__logo
					img(src="/upload/logo.svg", alt="")

			.sidebar__main
				.sidebar__name
					.sidebar__label Академия Профессионального Образования
					.sidebar__title Южный университет

				.sidebar-info
					.sidebar-info__content
						.sidebar-info__label Горячая линия (звонок бесплатный)

						.sidebar-info__phone
							a(href="tel:+78002226806") 8 800 222-68-06

				.sidebar__btn
					a.btn.btn_red.btn_big(href='#') Оставить заявку
					a.btn.btn_border-white.btn_big(href='#') Перейти в каталог программ
						+svg('ic-arr-right','ic-arr-right', '26', '9')

			.sidebar__bottom
				.sidebar-info
					.sidebar-info__content
						.sidebar-info__label Горячая линия (звонок бесплатный)

						.sidebar-info__phone
							a(href="tel:+78002226806") 8 800 222-68-06
							
				.social
					a(href="#", target="_blank").social__item
						+svg('ic-youtube','ic-youtube', '22', '15')

					a(href="#", target="_blank").social__item
						+svg('ic-telegram','ic-telegram', '20', '17')

					a(href="#", target="_blank").social__item
						+svg('ic-vk','ic-vk', '20', '20')

					a(href="#", target="_blank").social__item
						+svg('ic-ok','ic-ok', '20', '20')

				.map
					iframe(src='https://yandex.ru/map-widget/v1/?um=constructor%3A7d88bdbed3d341f7ed561c9aea96dac66b1b4ec85ccc6940250863cdf72a2222&source=constructor' width='100%', frameborder='0')
				
				
				.partners
					.partners__item
						.partners__img
							img(src="/upload/partner1.png", alt="")

						.partners__label МИНИСТЕРСТВО НАУКИ И ВЫСШЕГО ОБРАЗОВАНИЯ РФ

					.partners__item
						.partners__img
							img(src="/upload/partner2.png", alt="")

						.partners__label
							|НМО
							br
							|МИНЗДРАВА
							br
							|РОССИИ

					.partners__item
						.partners__img
							img(src="/upload/partner3.png", alt="")

						.partners__label
							|МИНТРУД
							br
							|РОССИИ

				.sidebar__address 344068, Россия, г. Ростов-на-Дону, пр. М. Нагибина, 33А/47

				.sidebar__footer
					.sidebar__copyright Copyright © 2024 ЮЖНЫЙ УНИВЕРСИТЕТ (ИУБиП)
					
					.social
						a(href="#", target="_blank").social__item
							+svg('ic-youtube','ic-youtube', '22', '15')

						a(href="#", target="_blank").social__item
							+svg('ic-telegram','ic-telegram', '20', '17')

						a(href="#", target="_blank").social__item
							+svg('ic-vk','ic-vk', '20', '20')

						a(href="#", target="_blank").social__item
							+svg('ic-ok','ic-ok', '20', '20')

block body
	include ./tmpl/_header-short

	.page-content
		.page-title
			h1 Здравоохранение
			.page-title__count 816 курсов

		form.search-page
			input(type="text", placeholder="Введите название программы для быстрого поиска...")
			button(type="submit").search-page__btn
				+svg('ic-search','ic-search', '20', '20')

		.catalog-wrap
			.catalog-wrap__sidebar
				.filter.js-filter
					.filter__top.js-filter-top
						.filter__header-wrap
							.filter__icon
								+svg('ic-filter','ic-filter', '14', '14')
							
							.filter__header Фильтры

						span.filter__clear.js-filter-clear Очистить
						.filter__arr
							+svg('ic-arrow-down','ic-arrow-down', '12', '8')

					.filter__content-wrap.js-filter-content-wrap
						.filter__content.js-filter-content
							.filter__item
								.filter__title Деятельность

								.filter__content
									-
										var list=[
											{text:'Высший персонал'},
											{text:'Средний персонал'},
											{text:'Младший персонал'},
											{text:'Немедецинские специальности'},
										]
									each item in list
										label.input-check
											input(type='checkbox')
											span.input-check__mark
												+svg('ic-check','ic-check', '10', '7')
											span.input-check__text= item.text

							.filter__item
								.filter__title Профессия

								.filter__content
									-
										var list=[
											{text:'Врач УЗИ'},
										]
									each item in list
										label.input-check
											input(type='checkbox')
											span.input-check__mark
												+svg('ic-check','ic-check', '10', '7')
											span.input-check__text= item.text

							.filter__item
								.filter__title Тип обучения

								.filter__content
									-
										var list=[
											{text:'Профессиональная переподготовка'},
											{text:'Повышение квалификации'},
											{text:'НМО'},
											{text:'Категория медработника'},
											{text:'Аккредитация'},
										]
									each item in list
										label.input-check
											input(type='checkbox')
											span.input-check__mark
												+svg('ic-check','ic-check', '10', '7')
											span.input-check__text= item.text

							.filter__item
								.filter__title Специальность

								.filter__content
									select.js-select
										option(disabled='' selected='') Выберите специальность
										option(value='Значение 1') Значение 1
										option(value='Значение 2') Значение 2
										option(value='Значение 3') Значение 3
										option(value='Значение 4') Значение 4
											
							.filter__btn
								a(href="#").btn.btn_square.btn_middle Применить фильтр
								a.btn.btn_border.btn_middle.btn_square Очистить

				.info-block
					.info-block__content
						.info-block__title Новая
						.info-block__text образовательная программа со скидкой
						.info-block__sale -30%
						
			.catalog-wrap__content
				.catalog-list
					-
						var list=[
							{img:'catalog-list1.jpg', title:'Аллергология и иммунология', old_price:'59 760', price:'49 800'},
							{img:'catalog-list2.jpg', title:'Актуальные вопросы диагностики и лечения травм', old_price:'7 800', price:'5 900'},
							{img:'catalog-list3.jpg', title:'Аллергология и иммунология', old_price:'3 480', price:'2 900'},
							{img:'catalog-list4.jpg', title:'Артериальная гипертония и хроническая сердечная недостаточность', old_price:'3 480', price:'2 900'},
							{img:'catalog-list5.jpg', title:'Актуальные вопросы деятельности, связанной с оборотом наркотических, психотропных веществ и их прекурсоров в медицинском учреждении', old_price:'3 480', price:'2 900'},
							{img:'catalog-list6.jpg', title:'Курс акушерство и гинекология в общей врачебной практике', old_price:'3 480', price:'2 900'},
							{img:'catalog-list7.jpg', title:'Курс болезни детей и подростков в общеврачебной практике', old_price:'7 800', price:'5 900'},
						]
					each item in list
						.catalog-item
							a(href="#").catalog-item__img-wrap
								.catalog-item__img
									img(src="/upload/"+item.img, alt="")

							.catalog-item__content
								.catalog-item__title
									a(href="#")= item.title

								.catalog-item__info
									.catalog-item-params
										.catalog-item-params__item
											span.catalog-item-params__label Тип обучения: 
											span.catalog-item-params__val Профессиональная переподготовка

										.catalog-item-params__item
											span.catalog-item-params__label Формат: 
											span.catalog-item-params__val Дистанционный

										.catalog-item-params__item
											span.catalog-item-params__label Продолжительность: 
											span.catalog-item-params__val 45 дней

									.catalog-item__prices
										span.catalog-item__old-price= item.old_price
											|&nbsp;&#8381;
										span.catalog-item__cur-price= item.price
											|&nbsp;&#8381;

				.pager
					a.pager__item.active(href='#') 1
					a.pager__item(href='#') 2
					a.pager__item(href='#') 3
					a.pager__item(href='#') 4
					a.pager__item(href='#') ...
					a.pager__item(href='#') 116

				.info-block
					.info-block__content
						.info-block__title Новая
						.info-block__text образовательная программа со скидкой
						.info-block__sale -30%

			